.lockup {
    z-index: 2;
}

.lockup img {
    display: block;
    margin: 0 auto;
}

.ardens {
    padding-top: 2em;
}

@media only screen and (max-width: 768px) {
    .lockup img {
        width: 70%;
    }
}