@import './variables.css';

nav {
    width: 75%;
    margin: 0 auto;
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    z-index: 2;
}
.links {
    margin-left: auto; 
    margin-right: 0;
}

nav a {
    color: var(--nav-color);
    text-transform: uppercase;
    margin-right: 2em;
    text-decoration: none;
    font-weight: 700;
}

select {
    font-family: var(--main-font);
    color: var(--nav-color);
    background: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 414px) {
    .logo {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        width: 100%;
        background-color: white;
        height: 3em;
        display: block;
        position: relative;
        margin-bottom: 2em;
    }

    .language-select {
        display: none;
    }

    .recipe {
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        margin: 0 auto;
        text-align: center;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
        color:rgb(124, 123, 123);
        font-size: 2em;
    }

}